@using ProjetAtrst.ViewModels.Account
@model EditProfileViewModel

@{
    Layout = "_LayoutResearcher";
}

@{
    ViewData["Title"] = "Profil";
}


<div class="alert alert-success text-center alert-dismissible fade show" role="alert">
    Votre profil est<strong> complet.</strong> Vous pouvez le modifier ici.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form asp-action="EditProfile" method="post">
    <div class=" row shadow-sm g-3 needs-validation  p-3 mb-5 mt-3 bg-white border rounded">
        <h5>Informations personnelles</h5>
        <div class="col-md-6">
            <label asp-for="FirstName" class="form-label">Prénom</label>
            <input type="text" class="form-control input" asp-for="FirstName" placeholder="Entrez votre prénom">
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="LastName" class="form-label">Nom</label>
            <input type="text" class="form-control input" asp-for="LastName" placeholder="Entrez votre nom">
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="FirstNameAr" class="form-label">Prénom (arabe)</label>
            <input type="text" class="form-control input" asp-for="FirstNameAr" placeholder="أدخل الاسم">
            <span asp-validation-for="FirstNameAr"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="LastNameAr" class="form-label">Nom (arabe)</label>
            <input type="text" class="form-control input" asp-for="LastNameAr" placeholder="أدخل اللقب">
            <span asp-validation-for="LastNameAr"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Gender" class="form-label">Genre</label>
            <input type="text" class="form-control input" asp-for="Gender" placeholder="Homme/Femme">
            <span asp-validation-for="Gender"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Birthday" class="form-label">Date de naissance</label>
            <input type="date" class="form-control input" asp-for="Birthday" placeholder="JJ/MM/AAAA">
            <span asp-validation-for="Birthday"></span>
        </div>



    </div>



    <button type="submit" id="submitBtn" class="btn btn-success ">
        <i class="bi bi-pencil-square me-2"></i>
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="spinner"></span>
        <span id="btnText">Enregistrer les modifications</span>
    </button>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Spinner.js"></script>

}


