@{
    ViewData["Title"] = "Home Page";
}

<div class="content ">

    <form novalidate>
        <div class=" row shadow-s g-3 needs-validation  p-3 mb-5 mt-3 bg-white border rounded">
            <h5>Personal Details</h5>
            <div class="col-md-6">
                <label for="validationCustom01" class="form-label">First name</label>
                <input type="text" class="form-control input" id="validationCustom01" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">Last name</label>
                <input type="text" class="form-control input" id="validationCustom02" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom03" class="form-label">Date</label>
                <input type="date" class="form-control input" id="validationCustom03" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom04" class="form-label">Genre</label>
                <select class="form-select input" id="validationCustom04" required>
                    <option selected disabled value="">Choose...</option>
                    <option>Male</option>
                    <option>femelle</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>


        </div>
        <div class="row g-3 needs-validation  p-3 mb-5 mt-3 bg-white border rounded">
            <h5>Professional Details</h5>
            <div class="col-md-12">
                <label for="validationCustom04" class="form-label">Organization</label>
                <select class="form-select input" id="validationCustom04" required>
                    <option selected disabled value="">Choose...</option>
                    <option>Agence Thématique de Recherche en Sciences et Technologie</option>
                    <option>name of your organization</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid Organization.
                </div>
            </div>
            <div class="col-md-12">
                <label for="validationCustom04" class="form-label">Degree id</label>
                <select class="form-select input" id="validationCustom04" required>
                    <option selected disabled value="">Choose...</option>
                    <option>Licence</option>
                    <option>Master</option>
                    <option>PhP</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid Degree id.
                </div>
            </div>

            <div class="col-md-12">
                <label for="Biography" class="form-label">Biography</label>
                <input type="text" class="form-control input" id="Biography" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-12">
                <label for="Skills" class="form-label">Skills</label>
                <input type="text" class="form-control input" id="Skills" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-12">
                <label for="Keywords" class="form-label">Keywords</label>
                <input type="text" class="form-control input" id="Keywords" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>


<script>
        (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>


