@{
    ViewData["Title"] = "| Documents";
}
<div class="content">
    <h2>Documents</h2>
    <div class="alert alert-light text-center mt-4">No Documents yet. <a href="#">Add your first Documents</a>.</div>
</div>