@{
    ViewData["Title"] = "| Project";
}


<h2 class="mb-4">Project</h2>

<form novalidate>
    <div class=" row shadow-sm g-3 needs-validation p-3 mb-5 bg-white border rounded">
        <h5>PART 1: PROJECT AND CONSORTIUM OVERVIEW</h5>
        <div class="col-md-12">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control input" id="validationCustom01" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-12">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control input" id="validationCustom02" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    </div>
</form>






