@using ProjetAtrst.ViewModels.ProjectMembership
@model List<ProjectMemberViewModel>
@{
    ViewData["Title"] = "Membres du projet";
}
@{
    Layout = "_LayoutProject";
}
<h3>Members of the project</h3>

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
           <th><i class="bi bi-person me-1"></i>Nom</th>
           <th><i class="bi bi-envelope me-1"></i>Email</th>
           <th><i class="bi bi-person-badge me-1"></i>Rôle</th>
           <th><i class="bi bi-calendar3 me-1"></i>Date d'adhésion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.Name</td>
                <td>@member.Email</td>
                <td>
                    @if (member.Role == Role.Leader)
                    {
                        <span class="badge bg-success">
                            <i class="bi bi-star-fill me-1"></i>Chef de projet
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-primary">
                            <i class="bi bi-person-fill me-1"></i>Membre
                        </span>
                    }
                </td>
                <td>@member.JoinedAt.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
