@model List<InvitationRequest>

<h2>الدعوات المرسلة</h2>

<table class="table">
    <thead>
        <tr>
            <th>اسم المشروع</th>
            <th>العضو</th>
            <th>الحالة</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invite in Model)
        {
            <tr>
                <td>@invite.TargetProject.Title</td>
                <td>@invite.Receiver.Researcher.User.FirstName</td>
                <td>@invite.Status</td>
            </tr>
        }
    </tbody>
</table>
