@{
    ViewData["Title"] = "| Join Requests";
}

<div class="content">
    <h2>Join Requests</h2>
    <div class="alert alert-light text-center mt-4">No Join Requests yet. <a href="#">Add your team</a>.</div>
</div>


