
@{
    ViewData["Title"] = "Profile";
}
<!-- ✅ المحتوى الرئيسي -->
<div class="content ">

    <form novalidate>
        <div class=" row shadow-s g-3 needs-validation  p-3 mb-5 mt-3 bg-white border rounded">
            <h5>Users</h5>
            <table class="table table-hover table-bordered"> 
                <thead> 
                    <tr> 
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Degree</th>
                        <th scope="col">Status</th>
                        <th scope="col">Investigator</th>
                        <th scope="col">View</th>
                    </tr> 
                </thead> 
                <tbody> 
                    <tr> 
                        <th><img src="~/images/user-image.jpg" alt="User Profile" class="user-img"></th>
                        <td>Abdiche Ibrahim</td> 
                        <td>MA</td> 
                        <td>Incomplete</td>
						<td>Yes</td>
						<td><a href="~/User/EditProfile" class="btn btn-primary">View</a></td>
                    </tr>
                    <tr>
                        <th><img src="~/images/user-image.jpg" alt="User Profile" class="user-img"></th>
                        <td>Abdiche Ibrahim</td>
                        <td>MA</td>
                        <td>Incomplete</td>
                        <td>Yes</td>
                        <td><a href="~/User/EditProfile" class="btn btn-primary">View</a></td>
                    </tr>
                    <tr>
                        <th><img src="~/images/user-image.jpg" alt="User Profile" class="user-img"></th>
                        <td>Abdiche Ibrahim</td>
                        <td>MA</td>
                        <td>Incomplete</td>
                        <td>Yes</td>
                        <td><a href="~/User/EditProfile" class="btn btn-primary">View</a></td>
                    </tr>
                </tbody> 
            </table> 
           
        </div>    
    </form>
</div>





